<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Graph View</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<h1>Keyword Trends</h1>
<canvas id="myChart" width="400" height="150"></canvas>

<br><br>
<form th:action="@{/get_news_api}" method="post">
  <input type="hidden" name="title" th:value="${title}" />
  <input type="hidden" name="period" th:value="${period}" />
  <input type="hidden" name="ratio" th:value="${ratio}" />
  <div>
    <button type="submit">가장 높은 비율 시간대 관련 뉴스 보기</button>
  </div>
</form>



<script th:inline="javascript">
  let title = [[${title}]]

  let period = [[${period}]];
  let ratio = [[${ratio}]];

  console.log("Periods:", period);
  console.log("Ratios:", ratio);

  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: period,
      datasets: [{
        label: title + " 검색 비율 추이",
        data: ratio,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

</body>
</html>
