<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Essential News</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">

<div class="container text-center mt-5">
    <h1 class="mb-4">Essential News에 오신 것을 환영합니다.</h1>
    <div class="row">
        <div class="col-lg-6 mb-2">
            <form th:action="@{/login-con}" method="get">
                <button type="submit" class="btn btn-primary btn-lg btn-block">로그인 하기</button>
            </form>
        </div>
        <div class="col-lg-6 mb-2">
            <form th:action="@{/sign-up}" method="get">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">회원가입 하기</button>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
